<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="COMMON_RES/css/bootstrap-v2.3.2.min.css" rel="stylesheet" />
    <link href="/Public/admin/css/common.css" rel="stylesheet" />
    <link href="/Public/admin/css/image_list.css" rel="stylesheet" />
    <link href="/Public/admin/css/my_page.css" rel="stylesheet" />
    <link rel="stylesheet" href="COMMON_RES/plugin/layer/skin/default/layer.css">
    <script src="COMMON_RES/js/jquery-v1.9.1.js"></script>
    <script src="COMMON_RES/js/bootstrap-v2.3.2.min.js"></script>
    <script src="/Public/admin/js/info.js"></script>
    <script src="COMMON_RES/plugin/layer/layer.js"></script>
    <script>
        $(function(){
            $(".change_status").on("click",function(){
                var $this=$(this);
                layer.msg('你确定修改么？', {
                    time: 0 ,//不自动关闭
                    btn: ['确定', '取消'],
                    yes: function(index){
                        layer.close(index);
                        window.location.href=$this.prop("href");
                    }
                });
                return false;
            })
        })
    </script>
</head>
<body>
    <div class="container-fluid" style="height: 100%">
        <div class="row-fluid">
            <h4>图片列表</h4>
            <div class="add">
                <a class="btn btn-success" href="__URL__/image_add">新增</a>
            </div>
            <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <eq name="position" value="0">
                        图片位置
                        <else/>
                        {$image_position[$position]}
                    </eq>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/Admin/image_list.html">全部</a></li>
                    <volist name="image_position" id="v">
                        <li><a href="/Admin/image_list.html?position={$key}">{$v}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="w">
                <div class="span12">
                    <table class="table table-condensed table-bordered table-hover tab">
                        <thead>
                            <tr>
                                <th style="width: 5%">序号</th>
                                <th style="width: 18%">图片展示</th>
                                <th style="width: 10%">图片位置</th>
                                <th style="width: 13%">图片标题</th>
                                <th style="width: 15%">图片跳转链接</th>
                                <th style="width: 8%">权重值</th>
                                <th style="width: 8%">使用状态</th>
                                <th style="width: 13%">上架时间</th>
                                <th style="width: 10%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        <volist name="image_list" id="v" key="k">
                        <tr>
                            <td>{$k+($nowPage-1)*$listRows}</td>
                            <td><img src="{$v.image_path}" style="width: 100%"></td>
                            <td>{$v.position}</td>
                            <td>{$v.title}</td>
                            <td style="word-break: break-all">{$v.url}</td>
                            <td>{$v.sort}</td>
                            <td>
                                <eq name="v.status" value="1">
                                    <img src="/Public/admin/image/32/488.png" style="width:20px">
                                    <else/>
                                    <img src="/Public/admin/image/32/489.png" style="width:20px">
                                </eq>
                            </td>
                            <td>{$v.create_at}</td>
                            <td>
                                <a class="btn btn-info btn-mini" href="__URL__/image_edit?id={$v.id}" title="修改">修改</a>
                                <eq name="v.status" value="1">
                                    <a class="btn btn-default btn-mini change_status" href="__URL__/change_img_status?id={$v.id}&status=0" title="停用">停用</a>
                                    <else/>
                                    <a class="btn btn-success btn-mini change_status" href="__URL__/change_img_status?id={$v.id}&status=1" title="启用">启用</a>
                                </eq>
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page_num">
                        <div class="pages">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
