<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>越行越野-后台管理</title>
    <link rel="shortcut icon" type="image/ico" href="COMMON_RES/img/yxyy7.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="COMMON_RES/css/bootstrap-v2.3.2.min.css" rel="stylesheet" />
    <link href="/Public/admin/css/common.css" rel="stylesheet" />
    <link href="/Public/admin/css/index.css" rel="stylesheet" />
    <script src="COMMON_RES/js/jquery-v1.9.1.js"></script>
    <script src="COMMON_RES/js/bootstrap-v2.3.2.min.js"></script>
    <script src="/Public/admin/js/index.js"></script>

</head>
<body>
    <div class="header">
        <!--<img class="logo" src="HOME_RES/image/logo4.jpg" />-->
        <label class="logo-title">越行越野后台管理</label>
        <ul class="inline">
            <li>
                <img src="/Public/admin/image/32/client.png" />&nbsp;&nbsp;欢迎您，{$Think.session.admin.username}
            </li>
            <li>
                <a class="loginout" href="/" target="_blank"><img src="/Public/admin/image/32/4963_home.png" /> 前台首页</a>
            </li>
            <li>
                <a class="loginout" href="/Admin/clearCache.html"><img src="/Public/admin/image/32/378.png" /> 清除缓存</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle mymsg" data-toggle="dropdown" href="javascript:;"><img src="/Public/admin/image/32/166.png" />&nbsp;&nbsp;修改个人信息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{:U('pw_change')}" target="right">修改密码</a></li>
                </ul>

            </li>
            <li>
                <a class="loginout" href="/Admin/logout.html"><img src="/Public/admin/image/32/200.png" />退出</a>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul class="breadcrumb">
            <li>
                <img src="/Public/admin/image/32/5025_networking.png" />
            </li>
            <li><a href="/admin">首页</a> <span class="divider">>></span></li>
            <li class="active"></li>
        </ul>
    </div>
    <div class="container-fluid content">
        <div class="row-fluid">
            <div class="span2 content-left">
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="javascript:;">
                                <img class="left-icon" src="/Public/admin/image/32/5026_settings.png" /><span class="left-title">管理菜单</span>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in" >
                            <a href="{:U('user_list')}" target="right">
                            <div class="accordion-inner">
                                <img class="left-icon-child" src="/Public/admin/image/32/4957_customers.png" /><span class="left-body"> 用户管理</span>
                            </div>
                            </a>
                            <a href="{:U('image_list')}" target="right">
                            <div class="accordion-inner">
                                <img class="left-icon-child" src="/Public/admin/image/32/310.png" /><span class="left-body"> 图片管理</span>
                            </div>
                            </a>
                            <a href="{:U('blog_list')}" target="right">
                            <div class="accordion-inner">
                                <img class="left-icon-child" src="/Public/admin/image/32/285.png" /><span class="left-body"> 文章管理</span>
                            </div>
                            </a>
                            <a href="{:U('comment_list')}" target="right">
                            <div class="accordion-inner">
                                <img class="left-icon-child" src="/Public/admin/image/32/112.png" /><span class="left-body"> 评论管理</span>
                            </div>
                            </a>
                            <a href="{:U('blogroll_list')}" target="right">
                                <div class="accordion-inner">
                                    <img class="left-icon-child" src="/Public/admin/image/32/239.png" /><span class="left-body"> 友链管理</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span10 content-right">
                <iframe src="{:U('info')}" class="iframe" name="right" style="width: 100%;height: 100%"></iframe>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot"></div>
	<div style="text-align:center;">
</div>
</body>
</html>
