<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录-越行越野</title>
    <link rel="stylesheet" href="HOME_RES/css/member/login.css" />
<body>
<div class="login-container">
    <h1>登录-<a href="/">越行越野</a></h1>

    <div class="connect">
        <p><a href="/">www.365suv.com</a></p>
    </div>

    <form action="/login.html" method="post" id="loginForm">
        <div>
            <input type="text" name="username" class="username" placeholder="用户名/手机号" autocomplete="off"/>
        </div>
        <div>
            <input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
        </div>
        <button id="submit" type="submit">登 陆</button>
    </form>

    <a href="/register.html">
        <button type="button" class="register-tis">还有没有账号？</button>
    </a>

</div>

<script src="HOME_RES/js/member/jquery.min.js"></script>
<script src="HOME_RES/js/member/common.js"></script>
<!--背景图片自动更换-->
<script src="HOME_RES/js/member/supersized.3.2.7.min.js"></script>
<script src="HOME_RES/js/member/supersized-init.js"></script>
<!--表单验证-->
<script src="HOME_RES/js/member/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>