body{
    /*background-image: url(/Public/img/bottombg.png);*/
    /*background-repeat: repeat-y*/
}

.contain{
    width: 100%;
    height:100%;
}

.welcome{
    text-align:center;
    width: 600px;
    height:100%;
    font-size: 40px;
    margin: 200px auto auto auto;
    color:#50A8E6;
    font-family: 楷体;
    font-weight:bold
}